# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Python environment / build
*.egg-info/
.eggs/
build/
dist/
